.logo2 {
  width: 90%;
  max-width: 200px;
  margin-bottom: 1em;;
}

mat-card {
  max-width: 70%;
  margin: 2em auto;
}

.first-column {
  width: 40%;
  margin-right: 2rem;
}

.form-user{
  margin: 0 16px;
}

.min-width {
  min-width: 200px;
}

table {
  width: 100%;
}

.loading-spinner {
  padding: 25px;
  background-color: rgb(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

